/**
 *
 * Slider (Show) Admin (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2021-08-26
 *
 */


.wplug-slider-table {
	width: 100%;

	display       : flex;
	flex-direction: column;
	gap           : 1em 12px;

	&:not(:empty) {
		margin-top: 12px;
	}
	.sortable-placeholder {
		margin: 0;
	}
}

@media screen and (min-width: 850px) {
	.wplug-slider-admin.hero {
		.wplug-slider-table {
			flex-direction: row;
			flex-wrap     : wrap;
		}
		.wplug-slider-thumbnail {
			min-width: 140px;
		}
	}
}

.wplug-slider-add-row {
	display    : flex;
	flex-wrap  : wrap;
	align-items: center;
	gap        : 0.5rem;

	margin-top: 0.5em;

	> div {
		display    : flex;
		align-items: center;
		gap        : 0.5rem;
	}
	> div:first-child {
		flex-wrap: wrap;
		gap      : 1rem;
	}
	> div:last-child {
		margin-left: auto;
	}
	label.select {
		display    : flex;
		align-items: center;
		gap        : 0.25rem;
	}

	.wplug-slider-table:not(:empty) + & {
		margin-top: 1.5em;
	}
}


// -----------------------------------------------------------------------------


.wplug-slider-item {
	display: flex;
	background-color: rgba(#fff, 0.75);

	> div:nth-child(1) {
		display       : flex;
		flex-direction: column;

		padding-right: 10px;

	}
	> div:nth-child(2) {
		flex-grow: 1;

		display    : flex;
		flex-wrap  : wrap;
		align-items: flex-end;
		gap        : 8px;
	}
}

.wplug-slider-item-template-img,
.wplug-slider-item-template-video {
	display: none;
}


// -----------------------------------------------------------------------------


.wplug-slider-handle {
	flex-grow: 1;

	display    : grid;
	place-items: center;

	font-size: 28px;
	color    : #787c82;

	cursor: move;
}

.wplug-slider-delete-label {
	white-space: nowrap;
	color      : #a00;
	text-align : center;
	font-size  : 11px;
	line-height: 1;
}

input[type=checkbox].wplug-slider-delete {
	margin-top  : 2px;
	margin-right: 0;
}


// -----------------------------------------------------------------------------


.wplug-slider-item-deleted > div:nth-child(2) {
	opacity       : 0.5;
	pointer-events: none;
}

.wplug-slider-info {
	flex-grow: 1;

	display       : flex;
	flex-direction: column;

	> div {
		display    : flex;
		align-items: center;
	}
	input[type=text] {
		width: 100%;
	}
	.wplug-slider-select-url {
		margin-left  : 4px !important;
		margin-bottom: 0   !important;
	}
}

.wplug-slider-thumbnail-wrap {
	display: flex;
	gap    : 8px;

	width    : 100%;
	max-width: calc(280px + 8px);
}

.wplug-slider-thumbnail {
	width    : 100%;
	max-width: 140px;

	position: relative;

	> a {
		display : flex;
		position: relative;

		border-color    : #ccc;
		background-color: #f7f7f7;
		box-shadow      : 0 1px 0 #ccc;

		border-width : 1px;
		border-style : solid;
		border-radius: 3px;

		&:hover {
			background-color: #fafafa;
			border-color    : #999;
		}
		&:active {
			background-color: #eee;
			border-color    : #999;
			box-shadow      : inset 0 2px 5px -3px rgba(#000, 0.5);
			transform       : translateY(1px);
		}
		&::before {
			content : '';
			display : flex;
			position: absolute;
			width   : 100%;
			height  : 100%;

			background: {
				image   :
					linear-gradient( 45deg, rgba(#000, 0.05) 25%, transparent 25%),
					linear-gradient(-45deg, rgba(#000, 0.05) 25%, transparent 25%),
					linear-gradient( 45deg, transparent 75%, rgba(#000, 0.05) 75%),
					linear-gradient(-45deg, transparent 75%, rgba(#000, 0.05) 75%);
				position: -3px -2px, -3px 4px, 3px -8px, -9px -2px;
				size    : 12px 12px;
				repeat  : repeat;
			}
		}
		&::after {
			content    : '';
			display    : block;
			padding-top: 66.66%;  // 3:2
		}

		> video {
			position : absolute;
			top      : 50%;
			transform: translate(0, -50%);
		}
		> div,
		> img {
			position: absolute;
			top     : 0;
			left    : 0;
			right   : 0;
			bottom  : 0;

			pointer-events: none;
		}
		> div {
			background-size    : contain;
			background-repeat  : no-repeat;
			background-position: center;
		}
		> img {
			object-fit: contain;
			width     : 100%;
			height    : 100%;
		}
	}
}

.wplug-slider-thumbnail-label {
	position: absolute;
	left    : 2px;
	right   : 2px;
	bottom  : 0;

	pointer-events: none;

	> div {
		text-overflow: ellipsis;
		white-space  : nowrap;
		overflow     : hidden;

		font-size: 0.85em;
		color: #fff;
		text-shadow:
			#000 1px  1px 2px, #000 -1px  1px 2px,
			#000 1px -1px 2px, #000 -1px -1px 2px,
			#000 0    1px 2px, #000 -1px    0 2px,
			#000 0   -1px 2px, #000  1px    0 2px;
	}
}
